<script setup>
import {Field} from './field/field.js'
import {Size} from './field/size.js'
import {computed, onMounted, ref} from 'vue'
import * as d3 from 'd3'
import {Vector} from './field/vector.js'
import {to_deg} from './utils/math.js'
import {format} from './utils/format.js'
import {Range} from './field/range.js'

/**
 * @type {Ref<SVGElement>}
 */
const svg = ref(null)

/**
 * @type {Ref<Field>}
 */
const field = ref()

/**
 * @type {Ref<Cell>}
 */
const focussed_cell = ref()

const logs = ref([])

function info(message) {
    log('info', message)
}

function debug(message) {
    log('debug', message)
}

function warn(message) {
    log('warn', message)
}

function error(message) {
    log('error', message)
}

function log(level, message) {
    // message = message ?? ''
    // console[level](message)

    while (logs.value.length >= 10) {
        logs.value.shift()
    }

    logs.value.push({
        level,
        message,

        get color() {
            return {
                debug: 'text-blue-400',
                info: 'text-green-400',
                warn: 'text-orange-400',
                error: 'text-red-400',
            }[this.level]
        },
    })
}

/**
 * @type {Ref<Cell<Vector>[]>}
 */
const receiving_cells = ref([])

/**
 * @type {Ref<Vector>}
 */
const to = ref()

function create_interpolator(interpolator_name) {
    return {
        velocity_direction: {
            extractor: cell => {
                return cell.get_vec('velocity').angle
            },
            domain: [0, Math.PI * 2],
            interpolator: d3.interpolateSinebow,
        },
        velocity_magnitude: {
            extractor: cell => {
                return cell.get_vec('velocity').length
            },
            domain: [velocity_range.value.min, velocity_range.value.max],
            interpolator: d3.interpolateInferno,
        },
    }[interpolator_name]
}

const interpolator = ref()

/**
 * @return {Field}
 */
function create_field() {
    const field = new Field(new Size(1000, 500), new Size(21, 11))
    field.define_vec('velocity', Vector.null)
    field.cell(5, 1).set_vec('velocity', new Vector(50, 100))
    return field
}

/**
 * @type {ComputedRef<{width: [number, number], height: [number, number]}>}
 */
const ranges = computed(() => {
    const svg_bounds = svg.value.getBoundingClientRect()
    return {
        width: [0, svg_bounds.width],
        height: [svg_bounds.height, 0],
    }
})

/**
 * @type {ComputedRef<{width: [number, number], height: [number, number]}>}
 */
const domains = computed(() => {
    const bounds = field.value.bounds
    return {
        width: [bounds.left, bounds.right],
        height: [bounds.bottom, bounds.top],
    }
})

/**
 * @type {ComputedRef<Size>}
 */
const screen_spacing = computed(() => {
    return new Size(
        scales.value.width(field.value.spacing.width) - scales.value.width(0),
        scales.value.height(0) - scales.value.height(field.value.spacing.height),
    )
})

/**
 *
 * @type {ComputedRef<{width: function(number): number, height: function(number): number}>}
 */
const scales = computed(() => {
    const d = domains.value
    const r = ranges.value
    return {
        width: d3.scaleLinear(d.width, r.width),
        height: d3.scaleLinear(d.height, r.height),
    }
})

function cell_fill_color(cell) {
    const value = interpolator.value.extractor(cell)
    const scaled = d3.scaleLinear(interpolator.value.domain, [0, 1])(value)
    return interpolator.value.interpolator(scaled)
}

function cell_stroke_color(cell) {
    return 'none'
}

function cell_stroke_width(cell) {
    return 0
}

/**
 * @param cell {Cell}
 * @param property {string}
 */
function peek_vector(cell, property) {
    info(`Peek (${cell.x},${cell.y}) #${cell.index}`)

    /**
     * @type {Vector}
     */
    const from = cell.center

    /**
     * @type {Vector}
     */
    const by = cell.get_vec(property)
    to.value = null
    receiving_cells.value.splice(0, receiving_cells.value.length)
    to.value = from.add(by)

    const half_size = field.value.size.div(2)
    const x = (to.value.x + half_size.width) / field.value.spacing.width
    let x1 = Math.floor(x)
    let x2 = x - x1 < 0.5 ? x1 - 1 : x1 + 1
    if (x1 > x2) {
        let tmp = x1
        x1 = x2
        x2 = tmp
    }

    const y = (to.value.y + half_size.height) / field.value.spacing.height
    let y1 = Math.floor(y)
    let y2 = y - y1 < 0.5 ? y1 - 1 : y1 + 1
    if (y1 > y2) {
        let tmp = y1
        y1 = y2
        y2 = tmp
    }

    const top_right = field.value.cell(x2, y2)
    const top_left = field.value.cell(x1, y2)
    const bottom_left = field.value.cell(x1, y1)
    const bottom_right = field.value.cell(x2, y1)

    receiving_cells.value.push(top_right)
    receiving_cells.value.push(top_left)
    receiving_cells.value.push(bottom_left)
    receiving_cells.value.push(bottom_right)

    const top_right_delta = top_right.center.sub(to.value)
    const top_left_delta = top_left.center.sub(to.value)
    const bottom_left_delta = bottom_left.center.sub(to.value)
    const bottom_right_delta = bottom_right.center.sub(to.value)

    const sum_length = 1 / top_right_delta.length + 1 / top_left_delta.length + 1 / bottom_left_delta.length + 1 / bottom_right_delta.length
    const top_right_fraction = 1 / top_right_delta.length / sum_length
    const top_left_fraction = 1 / top_left_delta.length / sum_length
    const bottom_left_fraction = 1 / bottom_left_delta.length / sum_length
    const bottom_right_fraction = 1 / bottom_right_delta.length / sum_length

    const top_left_result = by.muls(top_right_fraction)
    const top_right_result = by.muls(top_left_fraction)
    const bottom_left_result = by.muls(bottom_left_fraction)
    const bottom_right_result = by.muls(bottom_right_fraction)

    debug(`Dividing ${by} (${format(by.length)}) over four closest points:`)
    debug(`\ttop right fraction:    ${(100 * top_right_fraction).toFixed()}% => ${top_left_result} (${format(top_left_result.length)})`)
    debug(`\ttop left fraction:     ${(100 * top_left_fraction).toFixed()}% => ${top_right_result} (${format(top_right_result.length)})`)
    debug(`\tbottom left fraction:  ${(100 * bottom_left_fraction).toFixed()}% => ${bottom_left_result} (${format(bottom_left_result.length)})`)
    debug(`\tbottom right fraction: ${(100 * bottom_right_fraction).toFixed()}% => ${bottom_right_result} (${format(bottom_right_result.length)})`)
}

function position_y(cell) {
    return scales.value.height(cell.bounds.bottom)
}

function label_position_x(cell) {
    return scales.value.width(cell.bounds.left)
}

function label_anchor_y(cell) {
    if (cell.y > 0) {
        return 'middle'
    } else {
        return 'baseline'
    }
}

/**
 * @param cell {Cell}
 * @return {string}
 */
function label_anchor_x(cell) {
    if (cell.x > 0) {
        return 'middle'
    } else {
        return 'start'
    }
}

function focus(cell) {
    focussed_cell.value = cell
    peek_vector(cell, 'velocity')
}

/**
 * @type {Ref<Range>}
 */
const velocity_range = ref()

/**
 * @type {Ref<Range>}
 */
const direction_range = ref()

onMounted(() => {
    field.value = create_field()

    const velocity_range_array = [Number.MAX_VALUE, Number.MIN_VALUE]
    const direction_range_array = [Number.MAX_VALUE, Number.MIN_VALUE]

    field.value.each(cell => {
        const velocity = cell.get_vec('velocity')
        velocity_range_array[0] = Math.min(velocity_range_array[0], velocity.length)
        velocity_range_array[1] = Math.max(velocity_range_array[1], velocity.length)

        direction_range_array[0] = Math.min(direction_range_array[0], velocity.angle)
        direction_range_array[1] = Math.max(direction_range_array[1], velocity.angle)
    })

    velocity_range.value = new Range(velocity_range_array[0], velocity_range_array[1])
    direction_range.value = new Range(direction_range_array[0], direction_range_array[1])

    interpolator.value = create_interpolator('velocity_magnitude')
})

function toggle_color_mode(interpolator_name) {
    interpolator.value = create_interpolator(interpolator_name)
}

function tick() {
    this.field.tick()
}

</script>

<template>
    <div class="h-screen bg-teal-800 flex justify-center flex-col">
        <svg ref="svg" class="bg-teal-900 flex-grow">
            <template v-if="svg">
                <template v-for="y in field.resolution.height">
                    <template v-for="x in field.resolution.width">
                        <template v-for="cell in [field.cell(x - 1, y - 1)]">
                            <rect :x="scales.width(cell.bounds.left)"
                                  :y="scales.height(cell.bounds.top)"
                                  :width="screen_spacing.width"
                                  :height="screen_spacing.height"
                                  :fill="cell_fill_color(cell)"
                                  :stroke-width="cell_stroke_width(cell)"
                                  :stroke="cell_stroke_color(cell)"
                                  @mouseover="focus(cell)"
                            />
                        </template>

                        <template v-for="cell in [field.cell(x - 1, y - 1)]">
                            <text :x="label_position_x(cell)"
                                  :y="scales.height(cell.center.b)"
                                  fill="cyan"
                                  class="font-mono"
                                  font-size="8pt"
                                  alignment-baseline="middle"
                                  :text-anchor="label_anchor_x(cell)">
                                {{ format(cell.bounds.left) }}
                            </text>
                            <text v-if="cell.x === field.resolution.width - 1"
                                  :x="scales.width(cell.bounds.right)"
                                  :y="scales.height(cell.center.b)"
                                  fill="cyan"
                                  class="font-mono"
                                  font-size="8pt"
                                  alignment-baseline="middle"
                                  text-anchor="end">
                                {{ format(cell.bounds.right) }}
                            </text>
                            <text v-if="cell.y === field.resolution.height - 1"
                                  :x="scales.width(cell.center.a)"
                                  :y="scales.height(cell.bounds.top)"
                                  fill="cyan"
                                  class="font-mono"
                                  font-size="8pt"
                                  alignment-baseline="hanging"
                                  text-anchor="middle">
                                {{ format(cell.bounds.top) }}
                            </text>
                            <text :x="scales.width(cell.center.a)"
                                  :y="position_y(cell)"
                                  fill="cyan"
                                  class="font-mono"
                                  font-size="8pt"
                                  :alignment-baseline="label_anchor_y(cell)"
                                  text-anchor="middle">
                                {{ format(cell.bounds.bottom) }}
                            </text>

                            <!--                            <text :x="scales.width(cell.center.a)" :y="scales.height(cell.center.b)" fill="cyan" class="font-mono" font-size="8pt"-->
                            <!--                                  alignment-baseline="middle" text-anchor="middle">{{ cell.center }}-->
                            <!--                            </text>-->
                        </template>
                    </template>
                </template>
                <g v-if="to">
                    <line
                        :x1="scales.width(focussed_cell.center.x)"
                        :y1="scales.height(focussed_cell.center.y)"
                        :x2="scales.width(to.x)"
                        :y2="scales.height(to.y)"
                        stroke="teal"
                        stroke-width="2"/>
                    <circle
                        :cx="scales.width(to.x)"
                        :cy="scales.height(to.y)"
                        :r="4"
                        fill="teal"
                    />
                </g>

                <g v-if="focussed_cell">
                    <rect :x="scales.width(focussed_cell.bounds.left)" :y="scales.height(focussed_cell.bounds.top)" :width="screen_spacing.width"
                          :height="screen_spacing.height" stroke="red" stroke-width="5" fill="red" fill-opacity="0.33"/>
                </g>
                <g v-if="receiving_cells && receiving_cells.length === 4">
                    <rect :x="scales.width(receiving_cells[1].bounds.left)" :y="scales.height(receiving_cells[1].bounds.top)" :width="screen_spacing.width * 2"
                          :height="screen_spacing.height * 2" stroke="green" stroke-width="5" fill="green" fill-opacity="0.33"/>
                </g>
            </template>
        </svg>

        <div v-if="svg" class="absolute top-0 left-0 color text-white bg-black/75 p-5 border border-white m-5 w-80 text-xs">
            <div class="mb-5">
                <span class="font-bold">Size:</span>
                <pre>{{ field.size }}</pre>
            </div>
            <div class="mb-5">
                <span class="font-bold">Resolution:</span>
                <pre>{{ field.resolution.toString(0) }}</pre>
            </div>
            <div class="mb-5">
                <span class="font-bold">Spacing:</span>
                <pre>{{ field.spacing.toString(2) }}</pre>
            </div>
            <div class="mb-5">
                <span class="font-bold">Bounds:</span>
                <pre>{{ field.bounds }}</pre>
            </div>
            <div class="mb-5">
                <span class="font-bold">Properties:</span>
                <pre>{{ [...field.properties.keys()].join() }}</pre>
            </div>
            <div class="mb-5" v-if="focussed_cell">
                <span class="font-bold">Cell:</span>
                <div>Bounds:
                    <pre>{{ focussed_cell.bounds }}</pre>
                </div>
                <div>Center:
                    <pre>{{ focussed_cell.center }}</pre>
                </div>
                <div>Velocity:
                    <ul class="ml-10">
                        <template v-for="velocity in [focussed_cell.get_vec('velocity')]">
                            <li class="list-disc">Components:
                                <pre>({{ format(velocity.a) }},{{ format(velocity.b) }})</pre>
                            </li>
                            <li class="list-disc">Magnitude:
                                <pre>{{ format(velocity.length) }}</pre>
                            </li>
                            <li class="list-disc">Direction:
                                <pre>{{ format(to_deg(velocity.angle)) }}°</pre>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
            <div v-if="receiving_cells">Receivers:
                <div v-if="receiving_cells">Receivers:
                    <pre>{{ receiving_cells.map(r => `(${r.x},${r.y})`).join() }}</pre>
                </div>
            </div>
        </div>

        <div class="absolute top-0 right-0 flex flex-col space-y-2 m-5 w-32">
            <button class="border bg-black/75 active:bg-blue-600 overflow-clip border-white text-white" @click="toggle_color_mode('velocity_magnitude')">
                Magnitude
            </button>
            <button class="border bg-black/75 active:bg-blue-600 overflow-clip border-white text-white" @click="toggle_color_mode('velocity_direction')">
                Direction
            </button>
            <button class="border bg-black/75 active:bg-blue-600 overflow-clip border-white text-white" @click="tick()">
                Tick
            </button>
        </div>

        <div class="absolute bottom-0 right-0 m-5 bg-black/75 text-white border border-white p-5 w-6/12 font-mono text-xs">
            <div v-for="log in logs" class="flex">
                <div :class="log.color" class="w-12">{{ log.level.toUpperCase() }}</div>
                <div class="whitespace-pre">{{ log.message }}</div>
            </div>
        </div>
    </div>
</template>
